.about-me {
    min-height: 1030px;
    padding: 0 60px;
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 578px 851px;
        column-gap: 100px;
        grid-template-rows: 943px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    &__photo {
        border-radius: 10px;
    }
    &__text {
        text-align: justify;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: #FFFFFF;
    }
}